button {
  border: 0;
  padding: 10px;
  border-radius: 4px;
  color: rgb(23, 23, 23);
  font-size: 20px;
  cursor: pointer;
  
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  &.large {
    height: 100px;
    width: 190px;
    font-size: 80px;
  }

  &.small {
    height: 10px;
    width: 30px;
    font-size: 5px;
  }

  &.primary {
    background-color: rgb(0, 166, 255);
    color: white;
  }

  &.accent {
    background-color: rgb(145, 12, 247);
    color: white;
  }

  &.success {
    background-color: rgb(0, 255, 51);
  }

  &.warning {
    background-color: rgb(242, 255, 0);
  }

  &.active {
    pointer-events: none;
  }

  &:disabled {
    cursor: default;
    color: lightgray;
    background-color: gray;
  }
}
